body {
    background-color: #292828
}

.container {
    margin: 10% auto;
}

.cell {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    display:block;
    margin:0;
    float: left;
}

.create {
    width: 33%;
    margin: 10% auto;
    -moz-margin: 10% auto;
    height: 30px;
    display: block;
}

.create input, 
.create button {
    display: block;
    float: left;
    margin: 0;
}